<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 조회 페이지</title>
    <link th:href="@{/styles/memberList.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="header-container">
        <div class="search-container">
            <label for="name">이름: </label>
            <input type="text" id="name"/>
            <label for="level">레벨: </label>
            <select id="level">
                <option value="">옵션 없음</option>
                <option value="BRONZE">BRONZE</option>
                <option value="SILVER">SILVER</option>
                <option value="GOLD">GOLD</option>
            </select>
        </div>
        <div class="buttons-container">
            <button class="search-button" onclick="search()">검색</button>
            <button class="register-button" onclick="moveToRegisterForm()">회원 등록</button>
        </div>
    </div>
    <div id="table-container">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>이름</th>
                <th>이메일</th>
                <th>가입일자</th>
                <th>레벨</th>
                <th>카드갯수</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${memberList}">
                <td th:text="${member.memberId}"></td>
                <td th:text="${member.name}"></td>
                <td th:text="${member.email}"></td>
                <td th:text="${member.regDate}"></td>
                <td th:text="${member.level}"></td>
                <td th:text="${member.cardCount}"></td>
                <td><a href="#" th:onclick="|javascript:deleteMember('${member.memberId}')|">[삭제]</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

    function moveToRegisterForm() {
        location.href = '/members/registerForm'
    }

    function deleteMember(memberId) {
        if (confirm('회원을 삭제하시겠습니까?')) {
            axios({
                method : 'DELETE',
                url: '/members/' + memberId
            }).then(() => {
                alert("회원 삭제가 성공했습니다.")
                location.reload();
            }).catch(ex => {
                alert('회원 삭제가 실패했습니다. \n원인 => ' + ex.response.data)
                console.error(ex);
                console.error('exception = ' + ex.response.data)
            });
        }
    }

    function search() {
        let name = document.getElementById('name').value;
        let level = document.getElementById('level').value;

        axios.get('/members/search', {
            params: {
                name: name,
                level: level
            }
        })
            .then(function(response) {
                let fragment = response.data;
                console.log(fragment); // 확인을 위해 응답을 콘솔에 출력합니다.
                document.getElementById('table-container').innerHTML = fragment;
            })
            .catch(function(error) {
                if (error.response) {
                    alert('회원 리스트 검색이 실패했습니다. \n원인 => ' + error.response.data);
                    console.error(error);
                    console.error('exception = ' + error.response.data);
                } else {
                    alert('서버 응답이 없습니다.');
                    console.error(error);
                }
            });
    }
</script>
</html>
